<div class="container-fluid align-items-center">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col col-12">
            <div class="row">
                <div class="col-6" style="text-align: center;">
                    <button class="btn btn-secondary" id="SelectPDF" (click)="select_pdf()">Select PDF file</button>
                </div>
                <div class="col-6" style="text-align: center;">
                    <button class="btn btn-secondary" id="SelectSqrtText" (click)="select_sqrt_text()">Sqrt Text Data</button>
                </div>
            </div>

            <br><br>

            <div class="row" style="text-align: center;">
                <div class="col-12" style="text-align: center;">
                    <button class="btn btn-secondary" id="ExecutionEncrypt" (click)="exec_encrypt()" disabled>Please Choose File</button>
                </div>
            </div>

            <br>

            <div id="changeEncode" class="dropdown" style="text-align: center;">
                <button id="EncodeBTN" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">編碼選擇</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" onclick="SelectEncode(this.value)" value="gbk">GBK</button>
                    <button class="dropdown-item" onclick="SelectEncode(this.value)" value="big5">BIG-5</button>
                    <button class="dropdown-item" onclick="SelectEncode(this.value)" value="utf8">UTF-8</button>
                </div>
            </div>
        </div>
    </div>
</div>
